user_uuid = "c8482a6d-a9a7-4da0-8932-97d34bfdf630"
bucket_name = "c8482a6da888474da0893297d34bfdf630"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1