terratowns_endpoint = "https://terratowns.cloud/api"
game = {
    public_path = "public/game"
    content_version = 1
}
payday = {
    public_path = "public/payday"
    content_version = 1
}
lablabi = {
    public_path = "public/lablabi"
    content_version = 1
}